* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.appLayout {
  width: 100%;
}

/* *********Header Nav ********** */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 100vw;
  height: 8vh;
  border-bottom: 1px solid rgb(211, 209, 209);
  border-width: 0.1em;
  border-radius: 30px 0;
  position: fixed;
}

.logo-title {
  margin: 0 0 0 2em;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(75, 69, 241);
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.link {
  margin: 0 2em 0 0;
}

.link > ul {
  display: flex;
  gap: 5em;
  list-style: none;
  /* text-decoration: none; */
}

.link > ul > li > a {
  text-decoration: none;
  color: rgb(53, 45, 45);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 1s ease;
}

/* Body First Section */
.intro {
  width: 100%;
  height: 105vh;
  background: url("https://img.freepik.com/free-vector/abstract-blue-light-pipe-speed-zoom-black-background-technology_1142-9980.jpg?w=996&t=st=1696804406~exp=1696805006~hmac=7e5f8c4a3044c5dc0e8c21be36f9a6acb64a2e9e01c226bc970bf375f4b019c5");
  background-repeat: repeat-x;
  background-size: cover;
  text-align: center;
}

.intro-title,
.intro-desc,
.first-section-btn {
  color: rgb(238, 219, 219);
}

.intro-title {
  font-size: 3rem;
  padding: 3em 1em 2em;
}

.intro-desc {
  font-size: 1.5rem;
  padding: 0 4em;
}

.first-section-button {
  letter-spacing: 0.5em;
  margin-top: 8em;
  padding: 1em;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.first-section-button > a {
  text-decoration: none;
  color: #180914;
}

/* Project CSS */

.project-container {
  width: 100%;
  height: 105vh;
  padding: 0 3em;
  background: #ada7a7;
}

.section-title {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 3em;
}

.card {
  text-align: center;
  cursor: pointer;
  /* padding: 1em; */
}

.card > a {
  text-decoration: none;
  color: rgb(32, 20, 71);
}

.link {
  text-decoration: none;
}

.project-img {
  height: 40vh;
  width: 30vw;
  border-radius: 5px;
  border: 1px solid black;
}

.vanilla-js {
  display: flex;
  gap: 1.5em;
}

.project-title-one {
  margin-top: 0.5em;
  color: #180914;
  font-size: 1.5rem;
}

/* Blogs Section */

.blog-section {
  height: 105vh;
  background: #3e3b3b;
  /* text-align: center; */
}

.blog-section-title {
  padding-top: 3em;
  padding-left: 5em;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 1.5;
}

/* About-Me Section  */
.aboutMe-section {
  height: 101vh;
  background: #080012;
  text-align: center;
  color: white;
}

.section-title {
  padding-top: 3em;
  letter-spacing: 3;
  font-size: 1.89rem;
}

.details {
  font-size: 2rem;
  font-weight: 900;
  color: #ebe4f5;
  padding: 1em;
}

.resume-button {
  background-color: #b2bdc9;
  color: #210606;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 4em;
  gap: 0.5em;
  transition: background-color 0.3s ease;
}

.resume-button:hover {
  background-color: #ccdef1;
}

.aboutMe-section > a {
  text-decoration: none;
}

/* Footer section */

.footer {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 1.5em;
  font-size: 1rem;
  line-height: 2;
  display: flex;
  gap: 2em;
}

span {
  border-right: 1px solid #ada7a7;
  padding-right: 2em;
}

/* Contact Form */

.contact-form {
  width: 100%;
  height: 105vh;
}

.contact-section-title {
  color: rgb(11, 8, 8);
  padding-top: 3em;
  margin: 0 5em;
  font-size: 2rem;
  letter-spacing: 2;
  text-align: center;
}

.section-desc {
  margin: 0 10em;
  padding: 2em 0;
  font-size: 1.89rem;
}

.contact-btn {
  text-decoration: none;
  color: #080012;
  margin: 0 19em;
  border: none;
  background-color: #ebe4f5;
  padding: 1em 2.5em;
  border-radius: 10px;
  transition-property: width;
  transition-duration: 2s;
}

.contact-btn:hover {
  background-color: #080012;
  color: aliceblue;
}

.partition {
  display: flex;
  align-items: center;
}

.social-icon {
  margin-right: 1em;
}
